@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* Cores */
:root {
  --primary-green: #00856F;
  --primary-green-light: #DCE9E2;
  --primary-green-light-2: #F7F9F9;
  --primary-beige: #FFFAF1;
  --primary-green-hover: #00453A;
  --secondary-grey: #061800;
  --secondary-grey-2: #384633;
  --secondary-white: #FFF;
}

/* Fontes */
body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}


/* Outros estilos */
.required {
  color: var(--primary-green);
}

.error {
  color: red;
}
